{{#section 'title'}} Product List {{/section}} 

{{#section 'js'}}    
    <script type="text/javascript">
		//$('.subMenu item').on('click', function() {
		    //alert('dia chi'+$(location).attr('href')+this.attr("href"));
              // window.location.replace($(location).attr('href')+this.attr("href"));
		//});
        function theFunction (link) {
            alert(window.location.href+link);
            
            var url =window.location.href+link;
            return url;
        }
	</script>
{{/section}} 

{{#if noProducts}}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        Không có sản phẩm thoả yêu cầu.
    </div>
</div>
{{else}}
<div class="tab-pane  active" id="blockView">
    <ul class="thumbnails">
        {{#each products}}
        <li class="span3">
            <div class="thumbnail">
                <a href="#">
                    <img src="/web/image/{{duong_dan}}" alt="">
                </a>
                <div class="caption">
                    <h5>{{ten_may_anh}}</h5>
                    <p>

                    </p>
                    <h4 style="text-align:center">
                        <a class="btn" href="#">
                            <i class="icon-zoom-in"></i>
                        </a>
                        <a class="btn btn_add" href="#">Add to
                            <i class="icon-shopping-cart"></i>
                        </a>
                        <a class="btn btn-primary" href="#">{{number_format gia}}</a>
                    </h4>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
    <hr class="soft">
</div>
<div class="pagination">
    <ul class="pagination">
        <li class="disabled">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </li>
        {{#each page_numbers}} {{#if isCurPage}}
        <li class="active">
            <a href="javascript:;">{{value}}</a>
        </li>
        {{else}}
        <li>
            <a href="?page={{value}}">{{value}}</a>
        </li>
        {{/if}} {{/each}}
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    </ul>
</div>


</div>
{{/if}}