{{#section 'title'}}
	Category List
{{/section}}

{{#if noProducts}}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		Không có sản phẩm thoả yêu cầu.
	</div>
</div>
{{else}}
<div class="row">
	<ul class="breadcrumb">
        <li>
            <a href="/">Home</a>
            <span class="divider">/</span>
        </li>
        <li class="active">Categorys</li>
    </ul>
	<ul class="thumbnails">		
	{{#each categories}}
	<li class="span3">
		<div class="thumbnail" style="height:280px">
			<a href="/product/byCat/{{ma_loai}}">
				<img style="width: 260px; height:180px"src="/web/image/{{ma_loai}}_loai.jpg" alt="">
			</a>
			<div class="caption">
				<h5>{{ten_loai}}</h5>
				
				{{#if ../isAdmin}}
				<h4 style="text-align:center">
					{{!-- <a class="btn" href="/product/detail/{{ma_may_anh}}">
						<i class="icon-zoom-in"></i>
					</a> --}}
					<button style="padding:5px; margin: 5px; margin-right:32px" type="submit"  class="btn btn-large btn-success pull-right btn_add">
						<a href="/category/edit/?id={{ma_loai}}">Edit
							<i class="icon-edit"></i>
						</a>
					</button>

					<button style="padding:5px; margin: 5px" type="submit"   class="btn btn-large btn-danger pull-right btn_add">
						<a href="#delete{{ma_loai}}" role="button" data-toggle="modal" style="color:white;text-align:center">Delete
							<i class="icon-remove-sign"></i>
						</a><br>
					</button>

					<div id="delete{{ma_loai}}" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false" >
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h3>Delete</h3>
						</div>
						<div class="modal-body">
							<form action="/category/delete" method="POST" class="form-horizontal loginFrm" role="form" >
								<div class="control-group">
									<label class="control-label" for="inputId">ID <sup>*</sup></label>
									<div class="controls">
										<input id="inputId" name="CatId" type="text" value='{{ma_loai}}' readonly="true">
									</div>
								</div>

								<div class="control-group">
									<label class="control-label" for="inputName">Name <sup>*</sup></label>
									<div class="controls">
										<input id="inputName" name="CatName" type="string" value='{{ten_loai}}'>
									</div>
								</div>
								
								<button type="submit" class="btn btn-success" >Delete</button>
								<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
							</form>
						</div>
					</div>
				</h4>
				{{/if}}
			</div>
		</div>
	</li>
	{{/each}}

	<li class="span3">
		<div class="thumbnail">
			<a href="/category/add">
				<img style="width: 260px; height:240px"src="/web/image/add.jpg" alt="">
			</a>
			<div class="caption">
				<h5>Thêm loại</h5>
			</div>
		</div>
	</li>

	</ul>
</div>
{{/if}}