{{#section 'title'}}
	Product List
{{/section}}

{{#if noProducts}}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		Không có sản phẩm thoả yêu cầu.
	</div>
</div>
{{else}}
<div class="row">
	{{#each products}}
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="/imgs/sp/{{ProID}}/main_thumbs.jpg" alt="{{ProName}}" title="{{ProName}}">
			<div class="caption">
				<h4>{{ProName}}</h4>
				<h4>{{number_format Price}}</h4>
				<p style="min-height: 60px">{{TinyDes}}</p>
				<p>
					<a href="#" class="btn btn-primary" role="button">
						<span class="glyphicon glyphicon-eye-open"></span>
						Details
					</a>
					<a href="#" class="btn btn-danger" role="button">
						<span class="glyphicon glyphicon-shopping-cart"></span>
					</a>
				</p>
			</div>
		</div>
	</div>
	{{/each}}
</div>
<ul class="pagination">
	<li class="disabled">
		<a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
	</li>
	{{#each page_numbers}}
		{{#if isCurPage}}
			<li class="active"><a href="javascript:;">{{value}}</a></li>
		{{else}}
			<li><a href="?page={{value}}">{{value}}</a></li>
		{{/if}}
	{{/each}}
	<li>
		<a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
	</ul>
</nav>
{{/if}}