{{#section 'title'}}
	Product List
{{/section}}

{{#if noProducts}}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		Không có sản phẩm thoả yêu cầu.
	</div>
</div>
{{else}}
<div class="row">
	<ul class="breadcrumb">
        <li>
            <a href="/">Home</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="/product">Products</a>
            <span class="divider">/</span>
        </li>
        <li class="active">Product By Producer</li>
    </ul>
	<ul class="thumbnails">		
	{{#each products}}
	<li class="span3">
		<div class="thumbnail" style="height:360px">
			<a href="/product/detail/{{ma_may_anh}}">
				<img src="/web/image/{{duong_dan}}" alt="">
			</a>
			<div class="caption">
				<h5 style="height: 40px">{{ten_may_anh}}</h5>
				<p>
					
				</p>

				<h4 style="text-align:center">
					<a class="btn" href="/product/detail/{{ma_may_anh}}">
						<i class="icon-zoom-in"></i>
					</a>
					<a class="btn btn-link" style="height: 30px;width: 70px">
									<form class="form-horizontal" id="frmAddItem" method="post" action="/cart/add">
													<input name="proId" type="hidden" value="{{ma_may_anh}}">
													<input id="txtQ" name="quantity" type="hidden" class="form-control" placeholder="Slg" value="1">
													<span class="input-group-btn">
														<button class="btn btn-primary" type="submit">
															<span class="glyphicons glyphicons-cart-in" aria-hidden="true">Add to</span>
														</button>
													</span>
									</form>
								</a>
					<br>
					<a class="btn btn-primary" href="#">{{gia}} Đ</a>
				</h4>
			</div>
		</div>
	</li>
	{{/each}}
	</ul>
</div>
<div class="pagination">
    <ul class="pagination">        
        <li class="disabled">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </li>
        {{#each page_numbers}} {{#if isCurPage}}
        <li class="active">
            <a href="javascript:;">{{value}}</a>
        </li>
        {{else}}
        <li>
            <a href="?page={{value}}">{{value}}</a>
        </li>
        {{/if}} {{/each}}
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    </ul>
</div>
{{/if}}