{{#section 'title'}}
	Product List
{{/section}}

 {{#section 'js'}}
<script type="text/javascript">
    // Kiểm tra nhập đúng số lượng sản phẩm thêm vào giỏ hàng
    $(document).ready(function () {
        $("#btnThem").click(function () {
            if(parseInt($("#txtQuantity").val())<=0)
            {
                alert("Nhập số lượng sản phẩm không hợp lệ, bạn vui lòng nhập lại!");
            }
            
        });
    });

</script> {{/section}}

{{#if noProduct}}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        Không có sản phẩm thoả yêu cầu.
    </div>
</div>
{{else}}
<div class="span9">
    <ul class="breadcrumb">
        <li>
            <a href="index.html">Home</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="products.html">Products</a>
            <span class="divider">/</span>
        </li>
        <li class="active">product Details</li>
    </ul>
    <div class="row">
        <div id="gallery" class="span3">
            {{#with product}}
            <a href="/web/image/{{duong_dan}}" title="">
                <img src="/web/image/{{duong_dan}}" style="width:100%" alt="">
            </a>
            <div id="differentview" class="moreOptopm carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="themes/images/products/chay1.jpg">
                            <img style="width:29%" src="themes/images/products/chay1.jpg" alt="">
                        </a>
                        <a href="themes/images/products/item2.jpg">
                            <img style="width:29%" src="themes/images/products/item2.jpg" alt="">
                        </a>
                        <a href="themes/images/products/item3.jpg">
                            <img style="width:29%" src="themes/images/products/item3.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="btn-toolbar">
                <div class="btn-group">
                    <span class="btn">
                        <a href="/product/edit/?id={{ma_may_anh}}">
                            <i class="icon-edit"></i>
                        </a>
                    </span>
                    <span class="btn">
                        
                        <a href="#delete" role="button" data-toggle="modal">
                            <i class="icon-remove-sign"></i>
                        </a>
                        
                        <div id="delete1" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3>Delete</h3>
                            </div>
                            <div class="modal-body">
                                <form action="/product/delete" method="POST" class="form-horizontal loginFrm" role="form">
                                    <div class="control-group">
                                        <label class="control-label" for="inputId">ID
                                            <sup>*</sup>
                                        </label>
                                        <div class="controls">
                                            <input id="inputId" name="ProductId" type="text" value='{{ma_may_anh}}' readonly="true">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputName">Name
                                            <sup>*</sup>
                                        </label>
                                        <div class="controls">
                                            <input id="inputName" name="ProductName" type="string" value='{{ten_may_anh}}'>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-success">Delete</button>
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                </form>
                            </div>
                        </div>
                    </span>
                    <span class="btn">
                        <i class="icon-zoom-in"></i>
                    </span>
                    <span class="btn">
                        <i class="icon-star"></i>
                    </span>
                    <span class="btn">
                        <i class=" icon-thumbs-up"></i>
                    </span>
                    <span class="btn">
                        <i class="icon-thumbs-down"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="span6">
            <h3>{{ten_may_anh}} </h3>
            {{!--
            <small>- (14MP, 18x Optical Zoom) 3-inch LCD</small> --}}
            <hr class="soft"> {{{mo_ta}}}

        </div>
        {{/with}}

        <!--Kiểm tra login-->
        <hr class="soft">

        <form class="form-horizontal qtyFrm" method="post" action="/cart/add">
            <input name="proId" value="{{product.ma_may_anh}}" type="hidden">
            <div class="control-group">
                <label class="control-label">
                    <span>{{number_format product.gia}} đ</span>
                </label>
                {{#if layoutVM.isLogged}}
                <div class="controls">
                    <input id ="txtQuantity" class="Quantity" placeholder="" type="number" name="quantity" value="1">
                    <button id ="btnThem" type="submit" class="btn btn-large btn-primary pull-right btn_add"> Thêm vào giỏ
                        <i class=" icon-shopping-cart"></i>
                    </button>
                </div>
                {{/if}}

            </div>
        </form>
        <hr class="soft">
        <div class="span9">
            <ul id="productDetail" class="nav nav-tabs">
                <h4>CÁC SẢN PHẨM TƯƠNG TỰ </h4>

                <ul class="thumbnails">
                    {{#each itemCungLoai}}
                    <li class="span3">
                        <div class="thumbnail" style="height:360px">
                            <a href="../product/detail/{{ma_may_anh}}">
                                <img src="/imgs/{{duong_dan}}" alt="" />
                            </a>
                            <div class="caption">
                                <h5>{{ten_may_anh}}</h5>
                                <h4 style="text-align:center">
                                    <a class="btn" href="../product/detail/{{ma_may_anh}}">
                                        <i class="icon-zoom-in"></i>
                                    </a>
                                    </br>
                                    <a class="btn btn-primary" href="#">{{number_format gia}} đ</a>
                                </h4>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{!--
                <li class="active">
                    <a href="#profile" data-toggle="tab">Related Products</a>
                </li> --}}
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade" id="profile">
                    <div id="myTab" class="pull-right">
                        <a href="#listView" data-toggle="tab">
                            <span class="btn btn-large">
                                <i class="icon-list"></i>
                            </span>
                        </a>
                        <a href="#blockView" data-toggle="tab">
                            <span class="btn btn-large btn-primary">
                                <i class="icon-th-large"></i>
                            </span>
                        </a>
                    </div>
                    <br class="clr">
                    <hr class="soft">
                    <div class="tab-content">
                        <div class="tab-pane" id="listView">
                            {{#each rowRelated}}
                            <!-- Xem 8 mặt hàng cùng loại dạng List View-->>
                            <div class="row">
                                <div class="span2">
                                    <img src="themes/images/products/4.jpg" alt="">
                                </div>
                                <div class="span4">
                                    <h3>New | Available</h3>
                                    <hr class="soft">
                                    <h5>Product Name </h5>
                                    <p>
                                        Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion
                                        tendencies - that is why our goods are so popular..
                                    </p>
                                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                    <br class="clr">
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> $222.00</h3>
                                        <label class="checkbox">
                                            <input type="checkbox"> Adds product to compair
                                        </label>
                                        <br>
                                        <div class="btn-group">
                                            <a href="product_summary2.html" class="btn btn-large btn-primary btn_add"> Add to
                                                <i class=" icon-shopping-cart"></i>
                                            </a>
                                            <a href="product_details.html" class="btn btn-large">
                                                <i class="icon-zoom-in"></i>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr class="soft"> {{/each}}
                        </div>
                        <div class="tab-pane active" id="blockView">
                            <ul class="thumbnails">
                                {{#each rowRelated}}
                                <!-- Xem 8 mặt hàng cùng loại dạng Block View-->>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="product_details.html">
                                            <img src="themes/images/products/10.jpg" alt="">
                                        </a>
                                        <div class="caption">
                                            <h5>Manicure &amp; Pedicure</h5>
                                            <p>
                                                Lorem Ipsum is simply dummy text.
                                            </p>
                                            <h4 style="text-align:center">
                                                <a class="btn" href="product_details.html">
                                                    <i class="icon-zoom-in"></i>
                                                </a>
                                                <a class="btn btn_add" href="product_summary.html">Add to
                                                    <i class="icon-shopping-cart"></i>
                                                </a>
                                                <a class="btn btn-primary" href="#">€222.00</a>
                                            </h4>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                            <hr class="soft">
                        </div>
                    </div>
                    <br class="clr">
                </div>
            </div>
        </div>

    </div>
</div>
{{/if}}