<div class="entry">
	<h1>{{title}}</h1>
	<div class="body">
		<div class="span9">
			<div class="well well-small">
				<h4>SẢN PHẨM MỚI
					<small class="pull-right">12 latest products</small>
				</h4>
				<div class="row-fluid">
					<div id="featured" class="carousel slide">
						<div class="carousel-inner">
							<div class="item active">
								<ul class="thumbnails">
									<li class="span3">
										<div class="thumbnail">
											<i class="tag"></i>
											<a href="product_details.html">
												<img src="/imgs/1.jpg" alt="">
											</a>
											<div class="caption">
												<h5>Sony Alpha a7 III (Body) - Black </h5>
												<h4>
													<a class="btn" href="product_details.html">VIEW</a>
													<span class="pull-right" style="color: red">45.990.000đ</span>
												</h4>
											</div>
										</div>
									</li>
									<li class="span3">
										<div class="thumbnail">
											<i class="tag"></i>
											<a href="product_details.html">
												<img src="/imgs/2.jpg" alt="">
											</a>
											<div class="caption">
												<h5>Canon EOS 1500D + Kit EF S18-55 IS III</h5>
												<h4>
													<a class="btn" href="product_details.html">VIEW</a>
													<span class="pull-right" style="color: red">13.099.000đ</span>
												</h4>
											</div>
										</div>
									</li>
									<li class="span3">
										<div class="thumbnail">
											<i class="tag"></i>
											<a href="product_details.html">
												<img src="/imgs/3.jpg" alt="">
											</a>
											<div class="caption">
												<h5>Canon EOS M50 + Kit 15-45mm (Black)</h5>
												<h4>
													<a class="btn" href="product_details.html">VIEW</a>
													<span class="pull-right" style="color: red">18.999.000đ</span>
												</h4>
											</div>
										</div>
									</li>
									<li class="span3">
										<div class="thumbnail">
											<i class="tag"></i>
											<a href="product_details.html">
												<img src="/imgs/4.jpg" alt="">
											</a>
											<div class="caption">
												<h5>Canon EOS 3000D + Kit EF S18-55 III</h5>
												<h4>
													<a class="btn" href="product_details.html">VIEW</a>
													<span class="pull-right" style="color: red">9.599.000đ</span>
												</h4>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
									<li class="span3">
										<div class="thumbnail">
											<i class="tag"></i>
											<a href="product_details.html">
												<img src="/imgs/5.jpg" alt="">
											</a>
											<div class="caption">
												<h5>Canon EOS M50 + Kit 15-45mm (White)</h5>
												<h4>
													<a class="btn" href="product_details.html">VIEW</a>
													<span class="pull-right" style="color: red">18.999.000đ</span>
												</h4>
											</div>
										</div>
									</li>
									<li class="span3">
										<div class="thumbnail">
											<i class="tag"></i>
											<a href="product_details.html">
												<img src="/imgs/6.jpg" alt="">
											</a>
											<div class="caption">
												<h5>Đèn Flash Canon Speedlite 470EX-AI</h5>
												<h4>
													<a class="btn" href="product_details.html">VIEW</a>
													<span class="pull-right" style="color: red">11.990.000đ</span>
												</h4>
											</div>
										</div>
									</li>
									<li class="span3">
										<div class="thumbnail">
											<i class="tag"></i>
											<a href="product_details.html">
												<img src="/imgs/7.jpg" alt="">
											</a>
											<div class="caption">
												<h5>Gimbal Zhiyun Smooth 4 for Smartphone</h5>
												<h4>
													<a class="btn" href="product_details.html">VIEW</a>
													<span class="pull-right" style="color: red">3.390.000đ</span>
												</h4>
											</div>
										</div>
									</li>
									<li class="span3">
										<div class="thumbnail">
											<i class="tag"></i>
											<a href="product_details.html">
												<img src="/imgs/8.jpg" alt="">
											</a>
											<div class="caption">
												<h5>Fujifilm XF 60mm F2.4 R Macro</h5>
												<h4>
													<a class="btn" href="product_details.html">VIEW</a>
													<span class="pull-right" style="color: red">6.499.000đ</span>
												</h4>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
									<li class="span3">
										<div class="thumbnail">
											<i class="tag"></i>
											<a href="product_details.html">
												<img src="/imgs/9.jpg" alt="">
											</a>
											<div class="caption">
												<h5>Fujifilm X-H1 + Power Grip</h5>
												<h4>
													<a class="btn" href="product_details.html">VIEW</a>
													<span class="pull-right" style="color: red">54.990.000đ</span>
												</h4>
											</div>
										</div>
									</li>
									<li class="span3">
										<div class="thumbnail">
											<i class="tag"></i>
											<a href="product_details.html">
												<img src="/imgs/1.jpg" alt="">
											</a>
											<div class="caption">
												<h5>Fujifilm X-A5 + kit 15-45mm f3.5-5.6 OIS PZ</h5>
												<h4>
													<a class="btn" href="product_details.html">VIEW</a>
													<span class="pull-right" style="color: red">14.280.000đ</span>
												</h4>
											</div>
										</div>
									</li>
									<li class="span3">
										<div class="thumbnail">
											<i class="tag"></i>
											<a href="product_details.html">
												<img src="/imgs/1.jpg" alt="">
											</a>
											<div class="caption">
												<h5>Tamron 100-400mm f/4.5-6.3 DI VC USD for Nikon</h5>
												<h4>
													<a class="btn" href="product_details.html">VIEW</a>
													<span class="pull-right" style="color: red">18.800.000đ</span>
												</h4>
											</div>
										</div>
									</li>
									<li class="span3">
										<div class="thumbnail">
											<i class="tag"></i>
											<a href="product_details.html">
												<img src="/imgs/1.jpg" alt="">
											</a>
											<div class="caption">
												<h5>Samyang AF 35mm f/2.8 FE</h5>
												<h4>
													<a class="btn" href="product_details.html">VIEW</a>
													<span class="pull-right" style="color: red">15.800.000đ</span>
												</h4>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
						<a class="right carousel-control" href="#featured" data-slide="next">›</a>
					</div>
				</div>
			</div>

			<h4>SẢN PHẨM BÁN CHẠY NHẤT </h4>
			<ul class="thumbnails">
				{{#each products}}
				<li class="span3">
					<div class="thumbnail">
						<a href="../product/detail/{{proId}}">
							<img src="../../public/imgs/1.jpg" alt="" />
						</a>
						<div class="caption">
							<h5>{{ProName}}</h5>
							<p>{{TinyDes}}</p>

							<h4 style="text-align:center">
								<a class="btn" href="../product/detail/{{proId}}">
									<i class="icon-zoom-in"></i>
								</a>
								<a class="btn btn_add" href="/cart">Add to
									<i class="icon-shopping-cart"></i>
								</a>
								</br>
								<a class="btn btn-primary" href="#">{{number_format Price}}</a>
							</h4>
						</div>
					</div>
				</li>
				{{/each}}
			</ul>


			<h4>SẢN PHẨM ĐƯỢC XEM NHIỀU NHẤT </h4>
			<ul class="thumbnails">
				<li class="span3">
					<div class="thumbnail">
						<a href="product_details.html">
							<img src="/imgs/3.jpg" alt="" />
						</a>
						<div class="caption">
							<h5>Thẻ nhớ Sandisk 8gb</h5>
							<p>

							</p>

							<h4 style="text-align:center">
								<a class="btn" href="product_details.html">
									<i class="icon-zoom-in"></i>
								</a>
								<a class="btn btn_add" href="/cart">Add to
									<i class="icon-shopping-cart"></i>
								</a>
								</br>
								<a class="btn btn-primary" href="#">150.000đ</a>
							</h4>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<a href="product_details.html">
							<img src="/imgs/1.jpg" alt="" />
						</a>
						<div class="caption">
							<h5>Đầu đọc thẻ nhớ Integral</h5>
							<p>

							</p>
							<h4 style="text-align:center">
								<a class="btn" href="product_details.html">
									<i class="icon-zoom-in"></i>
								</a>
								<a class="btn btn_add" href="/cart">Add to
									<i class="icon-shopping-cart"></i>
								</a>
								</br>
								<a class="btn btn-primary" href="#">99.000đ</a>
							</h4>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<a href="product_details.html">
							<img src="/imgs/2.jpg" alt="" />
						</a>
						<div class="caption">
							<h5>Thẻ nhớ Sandisk 3.0 16gb</h5>
							<p>

							</p>
							<h4 style="text-align:center">
								<a class="btn" href="product_details.html">
									<i class="icon-zoom-in"></i>
								</a>
								<a class="btn btn_add" href="/cart">Add to
									<i class="icon-shopping-cart"></i>
								</a>
								</br>
								<a class="btn btn-primary" href="#">220.000đ</a>
							</h4>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<a href="product_details.html">
							<img src="/imgs/4.jpg" alt="" />
						</a>
						<div class="caption">
							<h5>Fujifilm X-A5 + kit 15-45mm f3.5-5.6 OIS PZ (Brown)</h5>
							<p>

							</p>
							<h4 style="text-align:center">
								<a class="btn" href="product_details.html">
									<i class="icon-zoom-in"></i>
								</a>
								<a class="btn btn_add" href="/cart">Add to
									<i class="icon-shopping-cart"></i>
								</a>
								<a class="btn btn-primary" href="#">14.280.000đ</a>
							</h4>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<a href="product_details.html">
							<img src="/imgs/5.jpg" alt="" />
						</a>
						<div class="caption">
							<h5>Canon 750D + Kit EF-S 18-55mm F/3.5-5.6 IS STM</h5>
							<p>

							</p>
							<h4 style="text-align:center">
								<a class="btn" href="product_details.html">
									<i class="icon-zoom-in"></i>
								</a>
								<a class="btn btn_add" href="/cart">Add to
									<i class="icon-shopping-cart"></i>
								</a>
								<a class="btn btn-primary" href="#">12.990.000đ</a>
							</h4>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<a href="product_details.html">
							<img src="/imgs/6.jpg" alt="" />
						</a>
						<div class="caption">
							<h5>Nikon D3400 +Nikon AF-P DX 18-55mm F/3.5-5.6G VR</h5>
							<p>

							</p>
							<h4 style="text-align:center">
								<a class="btn" href="product_details.html">
									<i class="icon-zoom-in"></i>
								</a>
								<a class="btn btn_add" href="/cart">Add to
									<i class="icon-shopping-cart"></i>
								</a>
								<a class="btn btn-primary" href="#">19.799.000đ</a>
							</h4>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<a href="product_details.html">
							<img src="/imgs/7.jpg" alt="" />
						</a>
						<div class="caption">
							<h5>Sony Alpha A6300 Body (Silver) - (Chính hãng)</h5>
							<p>

							</p>
							<h4 style="text-align:center">
								<a class="btn" href="product_details.html">
									<i class="icon-zoom-in"></i>
								</a>
								<a class="btn btn_add" href="/cart">Add to
									<i class="icon-shopping-cart"></i>
								</a>
								<a class="btn btn-primary" href="#">18.490.000đ</a>
							</h4>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<a href="product_details.html">
							<img src="/imgs/8.jpg" alt="" />
						</a>
						<div class="caption">
							<h5>Canon EOS 1500D + Kit EF S18-55 IS III</h5>
							<p>

							</p>
							<h4 style="text-align:center">
								<a class="btn" href="product_details.html">
									<i class="icon-zoom-in"></i>
								</a>
								<a class="btn btn_add" href="/cart">Add to
									<i class="icon-shopping-cart"></i>
								</a>
								<a class="btn btn-primary" href="#">13.099.000đ</a>
							</h4>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<a href="product_details.html">
							<img src="/imgs/9.jpg" alt="" />
						</a>
						<div class="caption">
							<h5>Canon EOS 3000D + Kit EF S18-55 III</h5>
							<p>

							</p>
							<h4 style="text-align:center">
								<a class="btn" href="product_details.html">
									<i class="icon-zoom-in"></i>
								</a>
								<a class="btn btn_add" href="/cart">Add to
									<i class="icon-shopping-cart"></i>
								</a>
								<a class="btn btn-primary" href="#">10.000.000đ</a>
							</h4>
						</div>
					</div>
				</li>
			</ul>

		</div>
	</div>
</div>