{{#section 'title'}} Your Shopping Cart {{/section}} {{#section 'js'}}
<script type="text/javascript">
	$('.removeItem').on('click', function () {
		var id = $(this).data('proid');
		$('#txtProId_R').val(id);
		$('#frmRemoveItem').submit();
	});
</script> {{/section}}
 {{#section 'js'}}
<script type="text/javascript">
    // Kiểm tra nhập đúng số lượng sản phẩm update vào giỏ hàng
    $(document).ready(function () {
        $("#btnU").click(function () {
            if(parseInt($("#txtQ").val())<0)
            {
                alert("Nhập số lượng sản phẩm không hợp lệ, bạn vui lòng nhập lại!");
            }
            
        });
    });

</script> {{/section}}
<div class="row">
	<div class="col-md-12">
		<form id="frmRemoveItem" method="post" action="/cart/remove">
			<input id="txtProId_R" type="hidden" name="ma_may_anh">
		</form>
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="col-sm-4">Sản phẩm</th>
					<th class="col-sm-2">Giá</th>
					<th class="col-sm-2">Số lượng</th>
					<th class="col-sm-2">Thành tiền</th>
					<th class="col-sm-2">&nbsp;</th>
				</tr>
			</thead>
			<tbody id="list">
				{{#each items}}
				<tr>
					<td>
						<img src="/imgs/{{Product.duong_dan}}" alt="Smiley face" height="60" width="60"> {{Product.ten_may_anh}}</td>
					<td>{{number_format Product.gia}}</td>
					<td><form action="/cart/update" method="post">
					<input id="txtQ" type="number" value="{{Quantity}}" name="quantity">
					<input type="hidden" value="{{Product.ma_may_anh}}" name="proId">
					<button id="btnU" type="submit">update</button>
					</form></td>
					<td>{{number_format Amount}}</td>
					<td class="text-right">
						<a data-proid="{{Product.ma_may_anh}}" class="btn btn-xs btn-danger removeItem" href="javascript:;" role="button">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
				{{/each}}
			</tbody>
			<tfoot>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>
						<h4>Total:</h4>
					</td>
					<td class="text-danger" colspan="2">
						<h4>{{number_format total}}</h4>
					</td>
				</tr>
			</tfoot>
		</table>
		<button onclick="location.href='/'" style="display: block;margin-left: auto;margin-right: auto;width: 25%;" type="button" class="btn btn-success">Thanh toán</button>
	</div>
</div>