{{#section 'title'}}
	Your Shopping Cart
{{/section}}

{{#section 'js'}}
	<script type="text/javascript">
		$('.removeItem').on('click', function() {
		    var id = $(this).data('proid');
		    $('#txtProId_R').val(id);
		    $('#frmRemoveItem').submit();
		});
	</script>
{{/section}}

<div class="row">
	<div class="col-md-12">
		<form id="frmRemoveItem" method="post" action="/cart/remove">
			<input id="txtProId_R" type="text" name="ma_may_anh">
		</form>
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="col-sm-4">Sản phẩm</th>
					<th class="col-sm-2">Giá</th>
					<th class="col-sm-2">Số lượng</th>
					<th class="col-sm-2">Thành tiền</th>
					<th class="col-sm-2">&nbsp;</th>
				</tr>
			</thead>
			<tbody id="list">
			{{#each items}}
				<tr>
					<td>{{Product.ma_may_anh}} - {{Product.ten_may_anh}}</td>
					<td>{{number_format Product.gia}}</td>
					<td>{{Quantity}}</td>
					<td>{{number_format Amount}}</td>
					<td class="text-right">
						<a data-proid="{{Product.ma_may_anh}}" class="btn btn-xs btn-danger removeItem" href="javascript:;" role="button">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
			{{/each}}
			</tbody>
			<tfoot>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td><h4>Total:</h4></td>
					<td class="text-danger" colspan="2">
						<h4>5,000,000</h4>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>