{{#section 'title'}} Administrator {{/section}}

<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="/imgs/category.jpg" alt="" title="">
			<div class="caption">
				{{!-- <h4>{{ProName}}</h4>
				<h4>{{number_format Price}}</h4> --}}
				<p style="min-height: 60px"></p>
				<p>
					<a href="#" class="btn btn-primary" role="button">
						<span class="glyphicon glyphicon-eye-open"></span>
						Details
					</a>
					<a href="#" class="btn btn-danger" role="button">
						<span class="glyphicon glyphicon-shopping-cart"></span>
					</a>
				</p>
			</div>
		</div>
	</div>

    <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="/imgs/sp/{{ProID}}/main_thumbs.jpg" alt="{{ProName}}" title="{{ProName}}">
			<div class="caption">
				<h4>{{ProName}}</h4>
				<h4>{{number_format Price}}</h4>
				<p style="min-height: 60px">{{TinyDes}}</p>
				<p>
					<a href="#" class="btn btn-primary" role="button">
						<span class="glyphicon glyphicon-eye-open"></span>
						Details
					</a>
					<a href="#" class="btn btn-danger" role="button">
						<span class="glyphicon glyphicon-shopping-cart"></span>
					</a>
				</p>
			</div>
		</div>
	</div>