{{#section 'title'}}
	Update Personal Information
{{/section}}

{{#if isUpdate}}
    <div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	Bạn đã cập nhật thông tin cá nhân thành công
{{/if}}

{{#with person}}
{{ten_nd}}
<form action="" method="POST" role="form">    
    <div class="control-group">
        <label class="control-label" for="inputId">ID <sup>*</sup></label>
        <div class="controls">
            <input id="inputId" name="id" type="text" value='{{ma_nd}}' readonly="true">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputName">Name <sup>*</sup></label>
        <div class="controls">
            <input id="inputName" name="name" type="string" value='{{ten_nd}}'>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputEmail">Email <sup>*</sup></label>
        <div class="controls">
            <input id="inputEmail" name="email" type="string" value='{{email}}'>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputCurrentPassword">Current Password <sup>*</sup></label>
        <div class="controls">
            <input id="inputCurrentPassword" name="currentPassword" type="password" value=''>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputNewPassword">New Password <sup>*</sup></label>
        <div class="controls">
            <input id="inputNewPassword" name="newPassword" type="password" value=''>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">Date of Birth <sup>*</sup></label>
        <div class="controls">
            <input id="inputDate" name="dob" type="date" value={{ngay_sinh}}> 
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputAddress">Address <sup>*</sup></label>
        <div class="controls">
            <input id="inputAddress" name="address" type="string" value='{{{dia_chi}}}'>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputTelephone">Telephone <sup>*</sup></label>
        <div class="controls">
            <input id="inputTelephone" name="telephone" type="text" value={{sdt}}>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input class="btn btn-large btn-success" type="submit" value="Update"  />
        </div>
    </div>	
</form>
{{/with}}