{{#section 'title'}}
	Producer List
{{/section}}

{{#if noProducts}}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		Không có sản phẩm thoả yêu cầu.
	</div>
</div>
{{else}}
<div class="row">
	<ul class="thumbnails">		
	{{#each producers}}
	<li class="span3">
		<div class="thumbnail">
			<a href="/product/byProducer/{{ma_nsx}}">
				<img style="width:260px; height:260px" src="/web/image/{{ma_nsx}}_nsx.jpg" alt="">
			</a>
			<div class="caption">
				<h5>{{ten_nsx}}</h5>
				<p>
					
				</p>

				<h4 style="text-align:center">
					{{!-- <a class="btn" href="/product/detail/{{ma_may_anh}}">
						<i class="icon-zoom-in"></i>
					</a> --}}
					<button style="padding:5px; margin: 5px" type="submit"  class="btn btn-large btn-primary pull-right btn_add">
						<a href="/producer/edit/?id={{ma_nsx}}">Edit
							<i class="icon-edit"></i>
						</a>
					</button>

					<button style="padding:5px; margin: 5px" type="submit"   class="btn btn-large btn-primary pull-right btn_add">
						<a href="#delete{{ma_nsx}}" role="button" data-toggle="modal" >Delete
							<i class="icon-remove-sign"></i>
						</a><br>
					</button>

					<div id="delete{{ma_nsx}}" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false" >
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h3>Delete</h3>
						</div>
						<div class="modal-body">
							<form action="/producer/delete" method="POST" class="form-horizontal loginFrm" role="form" >
								<div class="control-group">
									<label class="control-label" for="inputId">ID <sup>*</sup></label>
									<div class="controls">
										<input id="inputId" name="ProducerId" type="text" value='{{ma_nsx}}' readonly="true">
									</div>
								</div>

								<div class="control-group">
									<label class="control-label" for="inputName">Name <sup>*</sup></label>
									<div class="controls">
										<input id="inputName" name="ProducerName" type="string" value='{{ten_nsx}}'>
									</div>
								</div>
								
								<button type="submit" class="btn btn-success" >Delete</button>
								<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
							</form>
						</div>
					</div>
				</h4>
			</div>
		</div>
	</li>
	{{/each}}

	<li class="span3">
		<div class="thumbnail">
			<a href="/producer/add">
				<img style="width: 260px; height:240px"src="/web/image/add.jpg" alt="">
			</a>
			<div class="caption">
				<h5>Thêm nhà sản xuất</h5>
			</div>
		</div>
	</li>
	</ul>
</div>
{{/if}}
