{{#if isLogged}}
<div class="row">
	<div class="col-md-12">
		<table class="table table-hover table-stripe">
			<thead>
				<tr>
					{{!-- <th class="col-sm-4">STT</th> --}}
					<th class="col-sm-2">Mã đơn hàng</th>
					<th class="col-sm-2">Ngày đặt hàng</th>
                    <th class="col-sm-2">Sản phẩm</th>
                    <th class="col-sm-2">Tổng tiền</th>
					<th class="col-sm-2">Trang thái đơn hàng</th>
				</tr>
			</thead>
			<tbody id="list">
				{{#each receipts}}
				<tr>
					<td> {{ma_ddh}}</td>
					<td>{{ngay_lap}}</td>
                    <td>{{sample}} {{#if showMore}} và {{so_luong_hang}} sản phẩm khác {{/if}}</td>
					<td>{{number_format tong_tien}} đ</td>
					<td>{{trang_thai_don_hang}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
{{else}}
<p style="text-align:center;font-size: 50px;">Bạn chưa đăng nhập</p>

{{/if}}